body {
  background-color: lightgray;
}

#canvas {
  background-color: white;
  border: 1px dotted black;
  border-radius: 10px;
  margin-top: 50px;
}

#mainContent {
  width: 640px;
  margin: 0 auto;
}
